.all-posts{
    margin-bottom: 9.6rem;
}

.post-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.4rem;
    
}
.posts-title{
    font-size: 1.4rem;
}
.posts-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin-bottom: 1.2rem;

}
.posts-container img{
    width: 100%;
}
.search-post {
    background: none;
    outline: none;
    padding: 1.2rem 1.2rem 1.2rem 0;
    min-width: 25rem;
    width: 30%;
    border-radius: 4px;
    font-size: 1.4rem;
    padding: 0.7rem 0;
    border: 1px solid #d5d6d9;

}
.search-post::placeholder{
    font-size: 1.2rem;
    color: #8a909e;
    padding-left: 1.4rem;

}