.services-con{
    /* background-color: blue; */
    /* opacity: 0.7; */
    height: 50rem;
    border-radius: 2.4rem;
    background-color: #4D4DFF;
    /* box-shadow: 0 6px 12px #0000003a; */
    box-shadow: 0 6px 12px #00334e1a;
    /* border: 1px solid #4D4DFF; */
    border-radius: 20px;
    margin-bottom: 12.8rem;
    
 

}
.hi{
  background-color:#ffffff;
  justify-self: center;
  width: 30rem;
  height: 30rem;
  transform: rotate(45deg);
  /* padding: 1.4rem 2.4rem; */
  margin-top: -12.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:18px;

  /* padding-top: 3.6rem; */
  
}
.services-text-con{
  /* background-color: #4f4f4f; */
  padding-bottom: 18.2rem;
}

.our-services{
    font-size: 3.6rem;
    /* background-color: #4D4DFF; */
    opacity: 1;
    color: #ffffff;
    text-align: center;
    padding: 2.4rem 0;
 
    
    /* padding: 1.2rem 0 1.2rem 1.2rem; */

}
.services-text{
    margin-bottom: 9.6rem;
    text-align: center;
    color: #ffffff;

    font-size: 1.4rem;
}
.services-cards{
    /* position: relative; */
    background-color: #ffffff;
    padding-bottom: 9.6rem;
    /* height: 60rem; */
    /* padding: 2rem */
    margin-top: -2.4rem;
    
    /* box-shadow: 0 6px 12px #0000003a; */
    box-shadow: 0 6px 12px #00334e1a;
    border: 1px solid #f2f2f2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
   

    
}
.service{
  
    /* margin-left: 52%;
    margin-top: -35%; */
 
    /* z-index: 100; */
    /* height: 100%; */
    transform: rotate(-45deg);
    justify-self: center;
    
}
.service-card{
    position: relative;

    background-color: #4D4DFF;
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* justify-self: center; */
    width: 25rem;
    height: 25rem;
    /* width: 20rem;
    height: 20rem; */
    /* width: 185px;
    height: 185px;
    background-color: #ddecd5;
    border-radius: 4px; */
    /* transform-origin: 0 100%; */
    /* overflow: hidden; */
  
    /* background-color: #ffffff; */
    /* transform: rotate(-45deg); */
    border-radius:18px;
    /* box-shadow: 0.2rem 0rem 0.8rem 0 #000000; */
     box-shadow: 0 6px 12px #00334e1a;
     overflow: hidden;
     /* padding: 2rem; */
}
.sers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.2rem;
}
.ser{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16rem;
  margin-top: -8.4rem;
   
}

.top-card{
  /* margin-top: -6.8rem;
  margin-left: -6.8rem;
   */
}
.card-con{ 
   /* position: absolute; */
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  background-color: #ffffff;
  transform: rotate(45deg);
  padding: 2rem;
  text-align: center;

  /* top: 0;
  left: 0; */
  /* padding: 2rem; */
}
.card-title{

 font-size: 1.4rem;

}
.top{
  transform: rotate(-45deg);
  
}