.sec-2{
    margin-bottom: 12.8rem;
}
.mid-section{
    width: 100%;
    height: 40rem;
    background-color: #ededff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.8rem;
    
}
.cv-lt{
    line-height: 1.6;
    font-weight: 1.4rem;
}
.mid-up{
    max-width: 45%;
    font-size: 3.6rem;
}
.line{
    width: 2px;
    height: 60%;
    background-color: #dbdbff;
    align-self: center;
}

.mid-down{
    max-width: 45%;
    font-size: 1.6rem;
    line-height: 1.4;
}



@media (max-width: 768px) { 
    .mid-section{
        margin-top: 2.4rem;
      display: block;
      padding: 1.4rem;
      height: unset;
    }
    .mid-up{
        font-size: 2.4rem;
        max-width: 100%;
    }
    .container{
        padding: 1.4rem;
    }
    .line{
        display: none;
    }
    .mid-down{
        max-width: 100%;
        font-size: 1.2rem;
        margin-top: 1.6rem;
    }
    }