.footer{
    padding: 9.6rem 3.2rem;
    border-top: 1px solid #ddd;
    background-color: #212121; 
    margin-top: 4.8rem;     
    
}

.footer-items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    gap: 2.4rem;
}
.footer-heading{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
    margin-top: 2rem;
    color: #ffffff;
    opacity: 0.7;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.address, .footer-link, .copyright{
    font-size: 1.6rem;
    color: #ffffff;
    opacity: 0.5;
}
.contacts{
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}
.address{
    margin-bottom: 2.4rem;
}
.copyright{
    margin-top: auto;
    font-size: 1.4rem;
    line-height: 1.6;
}
.footer-logo-col{
    display: flex;
    flex-direction: column;
}
.footer-logo{
    color: #ffffff;
    font-size: 3.6rem;
   
}
.logo{
    margin-top: 0.8rem;
}
.footer-email{
    display: flex;
    gap: 1.2rem;
    width: 50%;
    float: right;

    
}

.footer-input{
    border-radius: 4px;
    font-size: 1.4rem;
    padding: 0.7rem 1.4rem;
    width: 100%;
    border: none;
     }
.footer-input::placeholder{
    font-size: 1.2rem;
    color: #8a909e;
}

.footer-input:focus{
    outline: none;
}
.footer-btn{
    color: #ffffff;
    background-color: #4f4dfd;
    padding: 1.2rem 2rem;
    border-radius: 4px;
    transition: border 0.2s linear;
    cursor: pointer;
    border: none;

}.footer-btn:hover{
    background: none;
    border: 1px solid #4f4dfd;
    color: #4f4dfd;
    font-weight: 700;
}

@media screen and (max-width: 39em){
    .footer{
        padding: 2rem;
        width: 100%;
    }
    .footer-items{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .footer-heading{
        margin-bottom: 1.2rem;
    }
    .post-cards{
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}