.email-stn{
  
    display: flex;
    gap: 1.2rem;
    width: 30%;
}
.email-input{
    border-radius: 4px;
    font-size: 1.4rem;
    padding: 0.7rem 0.7rem;
    width: 100%;
    border: none;
    border: 1px solid #d5d6d9;

    

}
.email-input::placeholder{
    font-size: 1.2rem;
    color: #8a909e;
    

}


@media screen and (Max-width: 80em){
    .email-stn{
        width: 50%;
    }
}


@media screen and (Max-width: 48em){
    .email-stn{
        width: 60%;
    }
}
@media screen and (Max-width: 40em){
    .email-stn{
        width: 100%;
    }
}