

.post-name{
    font-size: 1rem;
    margin-bottom: 1.2rem;
    color: #4D4DFF;
}

.post-title{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.post-des{
    color:#767b86;
    margin-bottom: 1.2rem;
    
}